#mainPopup {
    padding: 10px;
    height: 550px;
    width: 550px;
    font-family: Arial;
  }

 body {
    background-color: #43a7cc;
 }

#chartContainer {
    margin-left: 10px;
    margin-bottom: 10px;
}

#resultsTitle {
    margin-bottom: 10px;
}

#anchor {
    padding-bottom: 35px;
    color: #ffffff;
}

#textfield {
    font-family: 'Arial';
}

#results {
    margin-bottom: 10px;
}
h1 {
    font-size: 4em;
    color: #ffffff;
    font-family: 'Spectral SC', serif;
}

#resultsTitle {
    font-size: 2em;
    color: #ffffff;
    font-weight: bold;
    margin-top: 30px;
}

.sentence {
    font-size: 1.5em;
    padding: 5px 5px 5px 0px;
    color: #ffffff;
    font-weight: bold;
}

.sentiment {
    font-size: 1em;
    margin-left: 20px;
    padding: 5px;
    color: #ffffff;
}









