#mainPopup {
    padding: 10px;
    height: 550px;
    width: 550px;
    font-family: Arial;
  }

 body {
    background-color: #f4f4f4;
 }

#chartContainer {
    margin-left: 10px;
    margin-bottom: 10px;
}

#resultsTitle {
    margin-bottom: 10px;
}

#results {
    margin-bottom: 10px;
}
h1 {
    font-size: 4em;
    color: #18a0f4;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#resultsTitle {
    font-size: 2em;
    color: #18a0f4;
    font-weight: bold;
    margin-top: 30px;
}

.sentence {
    font-size: 1.5em;
    padding: 5px 5px 5px 0px;
    color: #474747;
    font-weight: bold;
}

.sentiment {
    font-size: 1em;
    margin-left: 20px;
    padding: 5px;
    color: #474747;
}









